html,
body {
  padding: 0;
  margin: 0;
  font-family: "CPN-Bold";
}

@font-face {
  font-family: "CPN-Bold";
  src: url("/fonts/CPN-Bold.otf");
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
